<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
<meta charset="utf-8">
<title>base</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link href="{% static 'css/chat_window.css' %}" rel="stylesheet">

</head>
<body>
<section class="msger">
  <header class="msger-header">
    <div class="msger-header-title">
      <i class="fas fa-comment-alt"></i> QuickChat
    </div>
    

    <div class="msger-header-options">
     
      <a href="{% url 'notifications' %}"><i class="fas fa-bell animated-bell"></i></a>
      
      <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a>
      <a href="{% url 'update_profile' %}" class="user-icon">
        <i class="fas fa-user"></i>
        <span class="username">{{request.user.first_name}}</span>
      </a>
    </div>
  </header>
  <main class="msger-chat">
  <div class="msger-people-list">
    <ul>
      {% for friend in friends %}
      <li>
        <a  href="{% url 'chat_window' friend.id %}"  class="person">
          <img src="{{friend.profile.profile_pic.url}}" alt="Profile Picture">
          <div class="person-details">
            <span class="person-name">{{friend.first_name}}</span>
            <p class="person-msg">Hello! How are you?</p>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="search-container">
    <a href="#" class="search">
        <i class="fas fa-envelope"></i>
    </a>
  </div>


  </main>
</section>
<script>
  const user_id = parseInt('{{ user_id }}'); // Use the user_id provided by your template
  const socket = new WebSocket( 'ws://'
            + window.location.host
            + '/ws/'
            + user_id
            + '/');
</script>
</body>

</html>