
<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
<meta charset="utf-8">
<title>base</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link href="{% static 'css/chat_window.css' %}" rel="stylesheet">
<link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>
<section class="msger">
  <header class="msger-header">
    <div class="msger-header-title">
      <i class="fas fa-comment-alt"></i> QuickChat
    </div>
    <div class="msger-header-options">
     
    </div>
  </header>
  <main class="msger-chat">
  <div class="wrapper">
    <h2>Registration</h2>
    <form action="" method="post">
        {% csrf_token %}
        {% if msg %}
        <div>{{msg}}</div>
        {% endif %}
      <div class="input-box">
        <input type="text" placeholder="First name" name="{{form.first_name.name}}" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Last name" name="{{form.last_name.name}}" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Enter your email" name="{{form.email.name}}" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Create password" name="{{form.password1.name}}" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Confirm password" name="{{form.password2.name}}" required>
      </div>
      
      <div class="input-box button">
        <input type="Submit" value="Register Now">
      </div>
      <div class="text">
        <h3>Already have an account? <a href="#">Login now</a></h3>
      </div>
    </form>
  </div>
</main>
</section>

</body>

</html>

  

